tr:nth-child(1) td.quali,
tr:nth-child(2) td.quali,
tr:nth-child(3) td.quali,
tr:nth-child(4) td.quali,
tr:nth-child(5) td.quali{
    background-color:blue;
}
tr:nth-child(6) td.quali{
    background-color:orange;
}
tr:nth-child(7) td.quali{
    background-color:darkgreen;
}
tr:nth-child(18) td.quali,
tr:nth-child(19) td.quali,
tr:nth-child(20) td.quali{
    background-color:red;
}