@import url(https://db.onlinewebfonts.com/c/ab596f21664c5582567537d241e2a53e?family=DIN+Next+Rounded+LT+W01+Regular);
@import url(https://db.onlinewebfonts.com/c/14936bb7a4b6575fd2eee80a3ab52cc2?family=Feather+Bold);
@import url(https://db.onlinewebfonts.com/c/d778c9af6f0c7bfb6f10d9e34e71a43f?family=DIN+Next+Rounded+LT+W01+Bold); 

@font-face {
    font-family: "DIN Regular";
    src: url("https://db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot");
    src: url("https://db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.svg#DIN Next Rounded LT W01 Regular")format("svg");
}
@font-face {
    font-family: "Feather Bold";
    src: url("https://db.onlinewebfonts.com/t/14936bb7a4b6575fd2eee80a3ab52cc2.eot");
    src: url("https://db.onlinewebfonts.com/t/14936bb7a4b6575fd2eee80a3ab52cc2.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/14936bb7a4b6575fd2eee80a3ab52cc2.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/14936bb7a4b6575fd2eee80a3ab52cc2.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/14936bb7a4b6575fd2eee80a3ab52cc2.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/14936bb7a4b6575fd2eee80a3ab52cc2.svg#Feather Bold")format("svg");
}
@font-face {
    font-family: "DIN Bold";
    src: url("https://db.onlinewebfonts.com/t/d778c9af6f0c7bfb6f10d9e34e71a43f.eot");
    src: url("https://db.onlinewebfonts.com/t/d778c9af6f0c7bfb6f10d9e34e71a43f.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d778c9af6f0c7bfb6f10d9e34e71a43f.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/d778c9af6f0c7bfb6f10d9e34e71a43f.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/d778c9af6f0c7bfb6f10d9e34e71a43f.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/d778c9af6f0c7bfb6f10d9e34e71a43f.svg#DIN Next Rounded LT W01 Bold")format("svg");
}

body{
    font-family: 'DIN Regular', sans-serif;
}
table {
    border-collapse: collapse; /* Faz com que as bordas da tabela fiquem unidas */
    counter-reset: posicao;
    /*display: inline-block;*/
    float:inline-start;
    padding: 8px;
}
td.pts, td.der, td.golc, td.pts_mandante, td.der_mandante, td.golc_mandante,td.pts_visitante, td.der_visitante, td.golc_visitante{
    border-right: 2px solid #aaa;
}
td.jogos,td.jogos_mandante,td.jogos_visitante{
    border-right: 4px solid #aaa;
}
tr{
    border-bottom: 1px solid #aaa;
}
th{
    padding:5px;
    min-width: 23px;
}
td{
    text-align: center;
    white-space: nowrap;
}
th.quali,td.quali{
    padding:1px;
    width: 1px;
}
td.pos{
    text-align: right;
}
td.timenome{
    text-align: left;
    min-width:120px;
}
td.timenomedir{
    text-align: right;
    min-width:120px;
}
td.pts,td.pts_mandante,td.pts_visitante{
    font-weight: bold;
    font-family: 'DIN Bold';
}
td.placar{
    font-weight: bold;
    font-family: 'DIN Bold';
    text-align: center;
}
td.num{
    text-align: right;
    white-space: nowrap;
}
td.num .resumo{
    display:display;
}
td.num .precisao{
    display:none;
}
td.num:hover .resumo{
    display:none;
}
td.num:hover .precisao{
    display:inline-block;
}
table#probabilidades td.num{
    padding:0px 4px;
    min-width: 50px;
}
table#probabilidades td.pos::before{
    counter-increment: posicao;
    content: counter(posicao);
}
td.escudo img{
    height: 18px;
    max-width: 24px;
    object-fit: contain; /* Mantém a proporção da imagem */
}
tr:hover{
    background-color: #ccc;
    transition: 0.9s;
}
table#probabilidades{
    .esconder{
        display: none;
    }
    & td.num{
        padding:0px 10px;
        text-shadow: 0px 0px 3px white;
    }
}
table caption{
    text-align: left;
}