tr:nth-child(1) td.quali,
tr:nth-child(2) td.quali,
tr:nth-child(3) td.quali,
tr:nth-child(4) td.quali,
td.lib{
    background-color:blue;
}
tr:nth-child(5) td.quali:not(.lib),
tr:nth-child(6) td.quali:not(.lib){
    background-color:orange;
}
tr:nth-child(7) td.quali:not(.lib),
tr:nth-child(8) td.quali:not(.lib),
tr:nth-child(9) td.quali:not(.lib),
tr:nth-child(10) td.quali:not(.lib),
tr:nth-child(11) td.quali:not(.lib),
tr:nth-child(12) td.quali:not(.lib),
tr:nth-child(13) td.quali:not(.lib),
tr:nth-child(14) td.quali:not(.lib){
    background-color:green;
}
tr:nth-child(17) td.quali:not(.lib),
tr:nth-child(18) td.quali:not(.lib),
tr:nth-child(19) td.quali:not(.lib),
tr:nth-child(20) td.quali:not(.lib){
    background-color:red;
}