body{
    font-family: 'Arial', sans-serif;
}
table {
    border-collapse: collapse; /* Faz com que as bordas da tabela fiquem unidas */
    counter-reset: posicao;
}
td.pts, td.der, td.golc{
    border-right: 1px solid #aaa;
}
tr{
    border-bottom: 1px solid #aaa;
}
th{
    padding:5px;
    min-width: 23px;
}
td{
    text-align: center;
}
td.pos{
    text-align: right;
}
td.timenome{
    text-align: left;
}
td.pts{
    font-weight: bold;
}
tr:nth-child(1) td.quali,
tr:nth-child(2) td.quali,
tr:nth-child(3) td.quali,
tr:nth-child(4) td.quali{
    background-color:blue;
}
tr:nth-child(5) td.quali{
    background-color:orange;
}
tr:nth-child(18) td.quali,
tr:nth-child(19) td.quali,
tr:nth-child(20) td.quali{
    background-color:red;
}/*
td.pos::before{
    counter-increment: posicao;
    content: counter(posicao);
}*/
td.escudo img{
    max-height: 24px;
}
tr:hover{
    background-color: #ccc;
    transition: 0.9s;
}