tr:nth-child(4) td.quali,
tr:nth-child(5) td.quali,
tr:nth-child(6) td.quali,
tr:nth-child(7) td.quali{
    background-color:gold;
}
tr:nth-last-child(-n+3) td.quali {
    background-color: red;
}
tr:nth-child(-n+3) td.quali{
    background-color:blue;
}