tr:nth-child(1) td.quali,
tr:nth-child(2) td.quali,
tr:nth-child(3) td.quali{
    background-color:blue;
}
tr:nth-child(4) td.quali,
tr:nth-child(5) td.quali,
tr:nth-child(6) td.quali,
tr:nth-child(7) td.quali{
    background-color:darkgreen;
}
tr:nth-child(23) td.quali,
tr:nth-child(24) td.quali{
    background-color:red;
}
