/*
tr:nth-child(1) td.quali,
tr:nth-child(2) td.quali,
tr:nth-child(3) td.quali,
tr:nth-child(4) td.quali,
tr:nth-child(5) td.quali,
tr:nth-child(6) td.quali,
tr:nth-child(7) td.quali,
tr:nth-child(8) td.quali,
tr:nth-child(9) td.quali,
tr:nth-child(10) td.quali,
tr:nth-child(11) td.quali,
tr:nth-child(12) td.quali,
tr:nth-child(13) td.quali,
tr:nth-child(14) td.quali{
    background-color:blue;
}
tr:nth-child(5) td.quali{
    background-color:orange;
}*/
tr:nth-child(1) td.quali,
tr:nth-child(2) td.quali,
tr:nth-child(3) td.quali{
    background-color:green;
}/*
tr:nth-child(16) td.quali{
    background-color:orangered;
}*/
tr:nth-last-child(1) td.quali{
    background-color:red;
}